doctype 5
html
	head
		title= title
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		base(href="/app/")

		- each path in paths.css
			link(rel="stylesheet", href="#{path}", media="screen, projection")

	body

		block content
		script(src="/js/lib/angular-file-upload-html5-shim.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js")
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js")

		- each path in paths.js
			script(type="text/javascript", src="#{path}")