extends ../layouts/main

block content

	#ng-app(ng-app="uploader", ng-controller="AppCtrl")

		#logo
			img(src="#{logo}")

		#upload-box(ng-controller="UploadCtrl")
			h2 Video Uploader
			span Choose a file:
			input(type='file', ng-file-select='onFileSelect($files)')

			progress(percent="progress", class="progress-striped", ng-show="progress > 0", ng-class="{active: progress < 100}" )

			.status(ng-show="progress > 0 && progress < 101") {{progress}}%
			.status(ng-show="progress == 100") Done!
