@import 'nib'
@import '../mixins'

#upload-box
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0,0,0,.2);
	margin: 0 auto 0
	padding: 15px 30px 40px;
	width: 700px

	h2
		margin-bottom 20px

	span
		font-size 18px

	input[type="file"]
		display: inline
		margin-left 10px

	.progress
		margin-top 30px

	.status
		font-size 30px
		text-align center

#logo
	padding 40px
	text-align center

	img
		height 100px